:root{

    --laranja: rgb(189, 53, 0);
    --preto: rgb(0, 0, 0);

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;


}

header .container{

    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo{

    color: var(--laranja);
    font-family: 'Arial Black', Times;
    font-size: 42px;

}

header nav a{

    text-decoration: none;
    color: whitesmoke;
    margin-right: 10px;

}

header nav a:hover{

    color: rgb(160, 157, 157);

}


/* aqui para baixo esta focado mais na parte do "filem principal" e coisas parecidas, tipo botões.*/

.filme-principal{

    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url(/notas/Netpad/ideias/img/casal.jpg);
    height: 500px;
    width: 1350px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.filme-principal .sinopse{

    margin-top: 15px;
    margin-bottom: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;

}

.titulo{

    margin-top: 12px;
    font-size: 37px;
    font-family:'Lucida Sans', Arial, sans-serif;

}

.botao{

    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 10px 8px;
    margin: 3px;
    font-size: 14px; 
    cursor: pointer;
    transition: .5s ease all;

}

.botao:hover{
   
    background-color: white;
    color: black;

}

.botao i{

    margin-right: 5px;

}

.box-filme{

    height: 100%;
    width: 100%;
    display: block;

}